if SHIELD_COMPRESSION4C_LEFT || SHIELD_COMPRESSION4C_RIGHT

config ZMK_KEYBOARD_NAME
    default "Compression 4C"

config ZMK_SPLIT
    default y

endif

config ZMK_IDLE_TIMEOUT
    default 300000
    
config ZMK_IDLE_SLEEP_TIMEOUT
    default 1800000

config ZMK_USB
    default y
